<header>
  <a href="/"><img src="../media/logo.png" alt="logo-dreamie" /></a>
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li class="dropdown">
        <a href="/catalogo">Productos </a>
        <ul class="submenu">
          <li><a href="/catalogo">Ropa</a></li>
          <li><a href="/catalogo">Accesorios</a></li>
          <li><a href="/catalogo">Stickers</a></li>
        </ul>
      </li>

      <li><a href="#">Información</a></li>
      <li class="nav__item">
        <a href="#" class="nav__link" aria-label="Buscar">
          <i class="fas fa-search"></i>
        </a>
      </li>
      <li class="nav__item">
        <a
          href="/users/login"
          class="nav__link"
          aria-label="Iniciar sesión"
        >
          <i class="fas fa-user"></i>
        </a>
      </li>
      <li class="nav__item">
        <a onclick="toggleCart()">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div class="menu">
    <i class="fa-solid fa-bars"></i>
  </div>
</header>
