<header>
  <a href="/"><img src="/media/logo.png" alt="logo-dreamie" /></a>
  <nav>
    <ul>
      <% if (isAdmin) { %>
      <li>💖</li>
      <% } %>

      <li><a href="/">Inicio</a></li>
      <li class="dropdown">
        <a href="/products">Productos </a>
        <ul class="submenu">
          <li><a href="/products">Ropa</a></li>
          <li><a href="/products">Accesorios</a></li>
          <li><a href="/products">Stickers</a></li>
        </ul>
      </li>

      <!-- <li><a href="#">Información</a></li>
      <li class="nav__item">
        <a href="#" class="nav__link" aria-label="Buscar">
          <i class="fas fa-search"></i>
        </a>
      </li> -->

      <% if (isLogged) { %>
      <li class="nav__item">
        <a
          href="/users/profile"
          class="nav__link"
          aria-label="Perfil de usuario"
        >
          <img
            src="/media/users/<%= locals.userLogged.profile %>"
            alt="foto de perfil de <%= locals.userLogged.name %>"
            id="avatarHeader"
          />
        </a>
      </li>

      <li class="nav__item">
        <form action="/users/logout" method="post" style="display: inline">
          <button type="submit" class="nav__link" aria-label="Cerrar sesión">
            <i class="fas fa-sign-out-alt"></i>
          </button>
        </form>
      </li>
      <% } else { %>
      <li class="nav__item">
        <a href="/users/login" class="nav__link" aria-label="Iniciar sesión">
          <i class="fas fa-user"></i>
        </a>
      </li>
      <% } %>

      <li class="nav__item">
        <a onclick="toggleCart()">
          <i class="fas fa-shopping-cart"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- <div class="menu">
    <i class="fa-solid fa-bars"></i>
  </div> -->
</header>
