<footer>
  <ul>
    <li><a href="#" class="fa-brands fa-facebook mx-2"></a></li>
    <li><a href="#" class="fa-brands fa-instagram mx-2"></a></li>
    <li><a href="#" class="fa-brands fa-pinterest mx-2"></a></li>
  </ul>

  <ul>
    <li><a class="link-footer" href="/">Inicio</a></li>
    <li>
      <a
        class="link-footer"
        href="https://www.tiendalunaplena.com.ar/productos/"
        >Productos</a
      >
    </li>
    <li><a class="link-footer" href="/contacto/">Información</a></li>
  </ul>
  <p class="footer-email">
    📧
    <a href="mailto:contacto@dreamie.com" class="email">contacto@dreamie.com</a>
  </p>
</footer>
